<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RxSwiftCleanArchitecture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E0D546641D609E9300E3E49C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0D546781D609E9300E3E49C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0D546831D609E9300E3E49C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
